@{
    ViewData["Title"] = "Home Page";
}
@model Chef

<a class="btn btn-lg btn-dark shadow mb-5" href="/addChef">Add a Chef</a> 

    <h1 class="text-center">Chefs | <a href="/dishes">Dishes</a></h1>
    <h2 class="text-center">Check out our roster of Chefs!</h2>
<div class="table table-striped">
    
    <div class="col-lg-6 offset-lg-3">
        <br>
            <table class="table table-striped">
          <tr>
            <th>Name:</th>
            <th>Age:</th>
            <th># of Dishes</th>
          </tr>
          <tr>
            @{
                foreach(Chef c in ViewBag.AllChefs)
                {
                    <td>@c.chefFName, @c.chefLName</td>
                    <td>@c.chefDob</td>
                    <td></td>
                }
            }
          </tr>
        </table>
    </div>
</div>

@* issues  *@
@* show age /chef dob model needs to be changed *@
@* table css *@
@* show num dishes *@