@{
    ViewData["Title"] = "Home Page";
}

        
    

    @* <div class="text-center">
        <h1 class="display-4">Cafe Tales</h1>
        <p>Every Cup Tells a Tale</p>   
    </div> *@

    @* <div>
        <video id="pour"  playsinline autoplay muted loop>
        <source src="images/pourOver.mp4" type="video/mp4">
        Your browser does not support video tag. 
        </video>     
    </div> *@

    <div id="showcase">
        @* <img src="images/whiteCupBeans.jpeg" alt="coffee"> *@
        <video  playsinline autoplay muted loop>
        <source src="images/bags.mp4" type="video/mp4">
        Your browser does not support video tag. 
        </video>
    </div>
    
     











