@{
    ViewData["Title"] = "Home Page";
}

        
    

    @* <div class="text-center">
        <h1 class="display-4">Cafe Tales</h1>
        <p>Every Cup Tells a Tale</p>   
    </div> *@

    @* <div>
        <video id="pour"  playsinline autoplay muted loop>
        <source src="images/pourOver.mp4" type="video/mp4">
        Your browser does not support video tag. 
        </video>     
    </div> *@

        @* <img src="images/whiteCupBeans.jpeg" alt="coffee"> *@
    @* <div id="showcase">
        <video  playsinline autoplay muted loop>
        <source src="images/bags.mp4" type="video/mp4">
        Your browser does not support video tag. 
        </video>
    </div> *@
    
    <style class="bgImage">
        body {
          background-image: url('images/redV60.jpeg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }

    </style>

    <div class="text">
        Where Every Cup Tells a Tale
    </div>

    
     











