@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cafe Tales</h1>
    <p>Every Cup Tells a Tale</p>
    <div id="showcase">
        <img src="images/tale.jpeg" alt="coffee" style="width:700px;height:500px;">
    </div>
    
</div>
@* 900px 700px *@
