@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Cafe Tales</h1>
    <p>Every Cup Tells a Tale</p>   
</div> *@
<div id="pour">
        <video  playsinline autoplay muted loop>
        <source src="images/pourOver.mp4" type="video/mp4">
        Your browser does not support video tag. 
    </video>
</div>










@* <div id="showcase">
        <img src="images/tale.jpeg" alt="coffee" style="width:700px;height:500px;">
    </div> *@