

<div class="container">
    <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/hairBender.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hair Bender</h5>
                        <p class="card-text">Hair Bender relies on coffees from Latin America, Indonesia, and Africa to achieve a complex flavor profile with notes of sweet citrus, dark chocolate, and raisin.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/hollerMtn.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Holler Mountain</h5>
                        <p class="card-text">Holler Mountain delivers a burst of citrus and berry jam rounded out with notes of creamy caramel.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/houseBlend.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">House Blend</h5>
                        <p class="card-text">House Blend balances chocolate, fruit, and nougat sweetness into a floral and complex blend.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/primavera.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Primavera</h5>
                        <p class="card-text">If you’ve ever taken a bite from a ripe red apple, you’ll know the way this coffee tastes. This new Guatemalan coffee is layered with the citrusy, herbaceous notes of lemongrass and rounds out with a smooth, chocolate malt finish</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/mugaya.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mugaya</h5>
                        <p class="card-text">The first sip of Mugaya brings sweet notes of dried plum, balanced with bright and citrus-forward orange. With rich and delicate hazelnut notes, this Kenyan coffee is ideal for sipping your way through a quiet morning.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/seabright.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Seabright</h5>
                        <p class="card-text">Seabright House Blend is undeniably inviting. Composed of direct trade coffees from El Salvador and Guatemala. Seabright showcases apricot and honeydew flavor notes. A balanced mouthfeel. And aromatics of toasted hazelnuts. Set yourself up for a winning day with one of our easiest drinking blends</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/mochaJava.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mocha Java Blend</h5>
                        <p class="card-text">Layering a jammy Ethiopian coffee over a sturdy and nutty bean from Indonesia results in a complex coffee that’s both strong and sweet.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/schweiks.jpeg" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Schweik's Blend</h5>
                        <p class="card-text">Delicate, with floral and citrus notes, this refreshing blend of African coffees is a perfect introduction to the nuanced flavors of a lighter, brighter, cup.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/frenchRoast.jpeg" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">French Roast Blend</h5>
                        <p class="card-text">Our darkest roast, a sturdy, stout blend with heavy smoke and tobacco flavors that love milk.</p>   
                    </div>
                </div>
            </div>
       </div>   
</div>