

<div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/hairBender.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hair Bender</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/hollerMtn.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Holler Mountain</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim..</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/houseBlend.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">House Blend</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/primavera.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Primavera</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/mugaya.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mugaya</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/seabright.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Seabright</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/mochaJava.png" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mocha Java Blend</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/schweiks.jpeg" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Schweik's Blend</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim.</p>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <img src="images/frenchRoast.jpeg" alt="coffee bag" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">French Roast Blend</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie. Nec ultrices dui sapien eget mi proin sed libero enim.</p>   
                    </div>
                </div>
            </div>
       </div>   
</div>

